@model Latest_Staff_Portal.ViewModel.DependantChangeRequests

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Employee No", new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <input type="text" class="form-control" id="txtEmployeeNo" readonly style="background-color: #dedebd;" value="@Model.EmployeeNo">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Employee Name", new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <input type="text" class="form-control" id="txtEmployeeName" readonly style="background-color: #dedebd;" value="@Model.EmployeeName">
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Date ", new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="txtDate" onkeydown="return false;" autocomplete="off"/>
                <div class="a"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Reason", new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <textarea class="form-control" id="txtReason" rows="4"></textarea>
            </div>
        </div>
    </div>
</div>


<hr/>
<div align="center">
    <input type="button" class="btn btn-primary waves-effect waves-light" value="Submit Request" onclick="SubmitDependantsChange();"/>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#txtDate').datepicker({
            changeMonth: true,
            changeYear: true,
            autoclose: true,
            yearRange: '-1:+2',
            showOtherMonths: true,
            dateFormat: 'dd/mm/yy'
        });
        $("#txtDate").focus(function () {
            $("#ui-datepicker-div").position({
                my: "left top",
                at: "left bottom",
                of: $(this)
            });
        });
        $("#ddlDim1,#ddlVehicles,#ddlAuthorizedBy,#ddlCostCentre").select2({
            width: '100%'
        });
        //document.getElementById("ddlDim2").disabled = true;
        //document.getElementById("ddlDim1").disabled = true;
        //document.getElementById("ddlDim3").disabled = true;
    });
</script>