@model IEnumerable<Latest_Staff_Portal.ViewModel.LabSampleMgtLines>

@{
    ViewBag.Title = "LabSampleManagementLinesPartialView";
    var Status = ViewBag.Status;
}


<div class="table-responsive">
    <table id="datatable-labSampleLines" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead>
            <tr>
                @*<th>Line No</th>*@
                @*<th>Sample ID</th>*@
                <th>Sample Type</th>
                <th>Source</th>
                <th>Staff No</th>
                <th>Staff Name</th>
                <th>Quantity (ml)</th>
                <th>Storage Location</th>
                <th>Notes</th>
                <th></th>
            </tr>

        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Line_No)
                    </td>*@
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Sample_ID)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Sample_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Source)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Staff_No)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Staff_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity_ml)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Storage_Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @if (Status == "Open")
                        {
                            <button class="btn btn-danger btn-sm ml-3" data-toggle="tooltip" data-placement="top" title="Delete" onclick="DeleteLabSampleLine('@item.Sample_ID', '@item.Line_No');">Delete</button>
                        }
                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div style="text-align:right">
    @if (Status == "Open")
    {
        <button class="btn btn-primary btn-sm action-buttons2" onclick="AddLabSampleLine();">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Line
        </button>
    }

</div>

<script>
    $("#datatable-labSampleLines").DataTable({
        lengthChange: true,
        lengthMenu: [5, 10, 25, 50, 100] // Same options for the second table
    });
</script>
