@model Latest_Staff_Portal.ViewModel.NewLeaveReimbursement

<div class="row">
    @*<div class="col-md-6">
        <div class="form-group">
            @Html.Label("Leave No", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.LeaveNo, Model.ListOfLeaveApplied, "--select Leave Document No--", new { @class = "form-control", @id = "ddlLeaveNo", @onchange = "GetLeaveDetails()" })
                @Html.ValidationMessageFor(model => model.LeaveNo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@
    @*<div class="col-md-6">
        <div class="form-group">
            @Html.Label("Leave Type", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.Leave_Type, Model.ListOfLeaveTypes, "--select Leave Type--", new { @class = "form-control", @id = "ddlLeaveType", @onchange = "GetLeaveBalance()" })
                @Html.ValidationMessageFor(model => model.Leave_Type, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@
    @*<div class="col-md-6" align="center">
        <div class="form-group">
            <b>Annual Leave Entitlement :</b> <label id="lblAllD">@Model.AllocatedDays</label><br />
            <b>Leave carried forward from previous Year : </b><label id="lblCarrF">@Model.CarryForawrd</label><br />
            <b>Reimbursed Days : </b><label id="lblReimbD">@Model.ReimbDays</label><br />
            <b>Leave Taken : </b><label id="lblLvTaken">@Model.LeaveTaken</label><br />
            <b>Earned Days : </b><label id="lblEarnedDays">@Model.EarnedLeaveDays</label><br />
            <b>Leave Balance : </b><label id="lblBalance">@Model.LeaveBal</label>
        </div>
    </div>*@
</div>
<div class="row">
    @*<div class="col-md-6">
            <div class="form-group">
                @Html.Label("Applied Days", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    <label class="form-control" id="ddlNoDays" name="ddlNoDays"></label>
                    @Html.ValidationMessageFor(model => model.AppliedDays, "", new { @class = "text-danger" })
                </div>
            </div>  onchange="CheckAppliedDays()"
        </div>*@
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Days to Reimburse", new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <input type="number" class="form-control" placeholder="" id="txtNoDays"/>
            </div>
        </div>
    </div>
</div>
<!--<div class="row" style="background-color:#d5d3d3;color:black">
<div class="col-md-4">
<div class="form-group">
@Html.Label("Start Date", new { @class = "control-label col-md-12" })
<div class="col-md-12">
<label id="dtPicker" style="color:#6B6A03"></label>-->
@*<input type="datetime" class="form-control" placeholder="dd/mm/yyyy" id="dtPicker" onkeydown="return false;" autocomplete="off" onkeyup="DateChanged(this)" />*@
<!--<div class='a'></div>
</div>
</div>
</div>
<div class="col-md-4">
    <div class="form-group">
        @Html.Label("End Date", new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            <label id="EndDate" style="color:#6B6A03"></label>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        @Html.Label("Return Date", new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            <label id="ReturnDate" style="color:#6B6A03"></label>
        </div>
    </div>
</div>
</div>-->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Attachment", new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <input type="file" class="form-control" id="LeavefileAttachment"/>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Remarks", new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <textarea id="txtRemarks" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>
<hr/>
<div align="center">
    <input type="button" class="btn btn-primary waves-effect waves-light" value="Submit Request" onclick="SubmitLeaveRequisition();"/>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //$('#ddlNoDays').empty().append('<option selected="selected--No of Days--</option>');
        //$('#EndDate').html("dd/mm/yyyy");
        //$('#ReturnDate').html("dd/mm/yyyy");

        //$('#dtPicker').datepicker({
        //    changeMonth: true,
        //    changeYear: true,
        //    autoclose: true,
        //    yearRange: '-0:+2',
        //    showOtherMonths: true,
        //    dateFormat: 'dd/mm/yy',
        //    minDate: 0
        //});
        //$(window).resize(function () {
        //    $('#dtPicker').datepicker('hide');
        //    $('#dtPicker').blur();
        //});

        
        //$("#ddlLeaveNo").select2({
        //    width: '100%'
        //});
    });
        var GetLeaveDetails = function () {
            var LeaveNo = $("#ddlLeaveNo").children("option:selected").val();       
        $("#ddlNoDays").text("0");
       
        if (LeaveNo == "") {
            return;
        }
        else {
            ShowProgress();
            $.getJSON("/LeaveReimbursement/GetLeaveDetails", { LvNo: LeaveNo },
                function (data) {
                    if (data.success == true) {
                        $("#ddlNoDays").text(data.newLV.AppliedDays);
                        $("#dtPicker").text(data.newLV.Starting_Date);
                        $("#EndDate").text(data.newLV.End_Date);
                        $("#ReturnDate").text(data.newLV.Return_Date);
                       // $("#ddlLeaveType").empty().append('<option selected="selected--No of Days--</option>');
                        
                    }
                    else {
                        Swal.fire('Warning', data.message, 'warning');
                    }
                    HideProgress();
                });
        }
        }
        
        var CheckAppliedDays = function () {
            var appdays = $('#txtNoDays').val();
            var masiku = document.getElementById('ddlNoDays').innerHTML;// $('#ddlNoDays').val();
            console.log(appdays);
            console.log(masiku);
            if (appdays > masiku) {
                Swal.fire('error', 'Reimbursed days can not be more than Leave Days', 'error');
                $('#txtNoDays').val('');
                return;
            }
        }
    var GetEndReturnDate = function () {
        $('#dtPicker').val("");
        $('#EndDate').html("dd/mm/yyyy");
        $('#ReturnDate').html("dd/mm/yyyy");
    }
</script>