@model Latest_Staff_Portal.ViewModel.ImprestWarranties

@{
    ViewBag.Title = "NewImprestWarrantRequest";
}


<div class="row">


    @*<div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @id="" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Posting_Date, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Posting_Date, new { htmlAttributes = new { @class = "form-control", @id="" } })
                @Html.ValidationMessageFor(model => model.Posting_Date, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Payroll No", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.Account_No, Model.ListOfPayroll, "Select Option", new { @class = "form-control", @id= "Account_No" })
            @Html.ValidationMessageFor(model => model.Account_No, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Payee Bank Account", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Payee_Bank_Account, new { htmlAttributes = new { @class = "form-control", @id= "Payee_Bank_Account" } })
            @Html.ValidationMessageFor(model => model.Payee_Bank_Account, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Payee Bank Code", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Payee_Bank_Code, new { htmlAttributes = new { @class = "form-control", @id= "Payee_Bank_Code" } })
            @Html.ValidationMessageFor(model => model.Payee_Bank_Code, "", new { @class = "text-danger" })
        </div>
    </div>
    @*  <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Payee, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Payee, new { htmlAttributes = new { @class = "form-control", @id="" } })
                @Html.ValidationMessageFor(model => model.Payee, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Validated Bank Name", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.ValidatedBankName, new { htmlAttributes = new { @class = "form-control", @id= "ValidatedBankName" } })
            @Html.ValidationMessageFor(model => model.ValidatedBankName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Reference No", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Reference_No, new { htmlAttributes = new { @class = "form-control", @id= "Reference_No" } })
            @Html.ValidationMessageFor(model => model.Reference_No, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Pay Mode", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.Pay_Mode, Model.ListOfPayModes, "Select Option", new { @class = "form-control", @id= "Pay_Mode" })
            @Html.ValidationMessageFor(model => model.Pay_Mode, "", new { @class = "text-danger" })
        </div>
    </div>
    @* <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Cheque_No, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Cheque_No, new { htmlAttributes = new { @class = "form-control", @id="" } })
                @Html.ValidationMessageFor(model => model.Cheque_No, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Paying_Bank_Account, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Paying_Bank_Account, new { htmlAttributes = new { @class = "form-control", @id="" } })
                @Html.ValidationMessageFor(model => model.Paying_Bank_Account, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Bank_Name, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Bank_Name, new { htmlAttributes = new { @class = "form-control", @id="" } })
                @Html.ValidationMessageFor(model => model.Bank_Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Available_Amount, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Available_Amount, new { htmlAttributes = new { @class = "form-control", @id="" } })
                @Html.ValidationMessageFor(model => model.Available_Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Committed_Amount, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Committed_Amount, new { htmlAttributes = new { @class = "form-control", @id="" } })
                @Html.ValidationMessageFor(model => model.Committed_Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.AIE_Receipt, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.AIE_Receipt, new { htmlAttributes = new { @class = "form-control", @id="" } })
                @Html.ValidationMessageFor(model => model.AIE_Receipt, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Travel Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="datetime" class="form-control" placeholder="dd/mm/yyyy" id="Travel_Date" onkeydown="return false;" autocomplete="off" />
            @*  @Html.EditorFor(model => model.Travel_Date, new { htmlAttributes = new { @class = "form-control", @id="" } })*@
            @Html.ValidationMessageFor(model => model.Travel_Date, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Payment Narration", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Payment_Narration, new { htmlAttributes = new { @class = "form-control", @id= "Payment_Narration" } })
            @Html.ValidationMessageFor(model => model.Payment_Narration, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Strategic Plan", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.Strategic_Plan, Model.ListOfStratPlans, "Select Option", new { @class = "form-control", @id= "Strategic_Plan" })
            @Html.ValidationMessageFor(model => model.Strategic_Plan, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Reporting_Year_Code", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.Reporting_Year_Code, Model.ListOfImplYears, "Select Option", new { @class = "form-control", @id= "Reporting_Year_Code" })
            @Html.ValidationMessageFor(model => model.Reporting_Year_Code, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Workplan", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.Workplan_Code, Model.ListOfWPA, "Select Option", new { @class = "form-control", @id= "Workplan_Code" })
            @Html.ValidationMessageFor(model => model.Workplan_Code, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Activity", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.Activity_Code, Model.ListOfWPA, "Select Option", new { @class = "form-control", @id= "Activity_Code" })
            @Html.ValidationMessageFor(model => model.Activity_Code, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Expenditure Requisition", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.Expenditure_Requisition_Code, Model.ListOfExpREq, "Select Option", new { @class = "form-control", @id= "Expenditure_Requisition_Code" })
            @Html.ValidationMessageFor(model => model.Expenditure_Requisition_Code, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Imprest_Memo_No, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Imprest_Memo_No, new { htmlAttributes = new { @class = "form-control", @id= "Imprest_Memo_No" } })
            @Html.ValidationMessageFor(model => model.Imprest_Memo_No, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Region", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.Shortcut_Dimension_1_Code, Model.ListOfDim1, "Select Option", new { @class = "form-control", @id= "Shortcut_Dimension_1_Code" })
            @Html.ValidationMessageFor(model => model.Shortcut_Dimension_1_Code, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Department", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.Shortcut_Dimension_2_Code, Model.ListOfDim2, "Select Option", new { @class = "form-control", @id= "Shortcut_Dimension_2_Code" })
            @Html.ValidationMessageFor(model => model.Shortcut_Dimension_2_Code, "", new { @class = "text-danger" })
        </div>
    </div>

    @*  <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Imprest_Amount, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Imprest_Amount, new { htmlAttributes = new { @class = "form-control", @id="" } })
                @Html.ValidationMessageFor(model => model.Imprest_Amount, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Imprest_Deadline, htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="datetime" class="form-control" placeholder="dd/mm/yyyy" id="Imprest_Deadline" onkeydown="return false;" autocomplete="off" />
            @* @Html.EditorFor(model => model.Imprest_Deadline, new { htmlAttributes = new { @class = "form-control", @id="" } })*@
            @Html.ValidationMessageFor(model => model.Imprest_Deadline, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#Travel_Date').datepicker({
            changeMonth: true,
            changeYear: true,
            autoclose: true,
            yearRange: '-0:+2',
            showOtherMonths: true,
            dateFormat: 'dd/mm/yy',
            minDate: 0
        });
        $('#Imprest_Deadline').datepicker({
            changeMonth: true,
            changeYear: true,
            autoclose: true,
            yearRange: '-0:+2',
            showOtherMonths: true,
            dateFormat: 'dd/mm/yy',
            minDate: 0
        });
        $(window).resize(function () {
            $('#Travel_Date').datepicker('hide');
            $('#Travel_Date').blur();
            $('#Imprest_Deadline').datepicker('hide');
            $('#Imprest_Deadline').blur();

        });
        $("#ddlDim1,#ddlDim2,#ddlDim3,#ddlDim4,#ddlDim5,#ddlRespC,#ddlImprestDueType").select2({
            width: '100%'
        });
        $("#DdlEmployee").select2();
        $("#TxtFrom").select2();
        //  $("#ddlImprestDueType").val('IMPREST');
        document.getElementById("ddlDim1").disabled = true;
        document.getElementById("ddlDim2").disabled = true;
        //  document.getElementById("ddlImprestDueType").disabled = true;

    });

</script>