@model IEnumerable<Latest_Staff_Portal.ViewModel.StaffClaims>
<div class="table-responsive">
    <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead style="background-color:black;color:white">
            <tr>
                <th>Action</th>
                <th>No</th>
                <th>Date</th>
                <th>Account No</th>
                <th>Account Name</th>
                <th>Status</th>
                <th>Posted</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <input type="button" onclick="SelectedRow('@item.No','@item.Status');" class="btn btn-primary btn-sm action-buttons3" value="Select"/>
                            </td>
                            <td>@item.No</td>
                            <td>@item.Date</td>
                            <td>@item.AccountNo</td>
                            <td>@item.AccountName</td>
                            <td>@item.Status</td>
                            <td>@item.Posted</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

<script>
    $("#datatable-buttons").DataTable({
        lengthChange: true,
        lengthMenu: [5, 10, 25, 50, 100] // Same options for the second table
    });
</script>