@model Latest_Staff_Portal.ViewModel.TransportRequisitionList


<div class="form-group">
    @Html.Label("Employee No", new { @class = "control-label col-md-12" })
    <div class="col-md-12">
        <input type="text" class="form-control" id="txtEmpoyeeNo" readonly style="background-color: #dedebd;" value="@Model.RequestedBy"/>
    </div>
</div>
<div class="row">
    @*<div class="col-md-6" runat="server">
        <div class="form-group" hidden="hidden">
            @Html.Label("Transport Type", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <select id="ddlTransportCategory" name="ddlTransportCategory" class="form-control">
                    <option value="">----</option>
                    <option value="1">Local Running</option>
                    <option value="2">Safari</option>
                    @*<option value="0">Domestic Flight</option>
                    <option value="1">International Flight</option>*@
    @*</select>*@
    @*<div class="col-md-6" runat="server">
            <div class="form-group" hidden="hidden">
                @Html.Label("Transport Type", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    <select id="ddlTransportCategory" name="ddlTransportCategory" class="form-control">
                        <option value="">----</option>
                        <option value="3">Normal</option>
                        <option value="2">Taxi</option>
                        <option value="0">Domestic Flight</option>
                        <option value="1">International Flight</option>
                    </select>
                </div>
            </div>
        </div>*@
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("From", new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <input type="text" class="form-control" id="txtCommence"/>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Destination", new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <input type="text" class="form-control" id="txtDestination"/>
            </div>
        </div>
    </div>

</div>
<div class="row">

    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Route:", new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @*@Html.DropDownListFor(model => model.RouteCOde, Model.ListOfRouteCOde, "--select Route Code --", new { @class = "form-control", @id = "ddlRouteCode" })
        @Html.ValidationMessageFor(model => model.RouteCOde, "", new { @class = "text-danger" })*@
                <input type="text" placeholder="Specify the route" class="form-control" id="routeCode"/>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Date of Trip", new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="dtPicker" onkeydown="return false;" autocomplete="off"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Time of Trip", new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <input type="time" class="form-control" id="txtTime"/>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("No of Days", new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <input type="text" class="form-control" id="txtNoOfDays"/>
            </div>
        </div>
    </div>
</div>
<div class="row">

    @*<div class="col-md-6">
        <div class="form-group">
            @Html.Label("Hours", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <input type="text" class="form-control" id="txtHrs"  />
            </div>
        </div>
    </div>*@
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Implementing Unit", new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.ResponsibilityCenter, Model.ListOfResponsibility, "--select Implementing Unit--", new { @class = "form-control select2", id = "ddlRespC" })
                @Html.ValidationMessageFor(model => model.ResponsibilityCenter, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div class="row">


</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Purpose of the Trip", new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <textarea id="txtPurpose" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>
</div>
<hr/>
<div align="center">
    <input type="button" class="btn btn-primary waves-effect waves-light" value="Submit Request" onclick="SubmitTransportRequisition();"/>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dtPicker').datepicker({
            changeMonth: true,
            changeYear: true,
            autoclose: true,
            yearRange: '-0:+2',
            showOtherMonths: true,
            dateFormat: 'dd/mm/yy',
            minDate: 0
        });
        $('#TxtReturnDate').datepicker({
            changeMonth: true,
            changeYear: true,
            autoclose: true,
            yearRange: '-0:+2',
            showOtherMonths: true,
            dateFormat: 'dd/mm/yy',
            minDate: 0
        });
        $(window).resize(function () {
            $('#dtPicker').datepicker('hide');
            $('#dtPicker').blur();
            $('#TxtReturnDate').datepicker('hide');
            $('#TxtReturnDate').blur();
            $("#DivAccom").hide();
        });
        $("#ddlDim1,#ddlDim2,#ddlDim3,#ddlDim4,#ddlDim5,#ddlRespC,#ddlImprestDueType").select2({
            width: '100%'
        });
    });


</script>