@model IEnumerable<Latest_Staff_Portal.ViewModel.ICTServiceRequest>
<div class="pre-scrollable">
    <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead style="background-color:black;color:white">
        <tr>
            <th>Action</th>
            <th>No</th>
            <th>Asset</th>
            <th>Asset Name</th>
            <th>Service Date</th>
            <th>Last Service Date</th>
            <th>Next Service Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        @{
            if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="button" onclick="SelectedRow('@item.DocNo', '');" style="background: #162f25; color:whitesmoke; border-radius:10px" value="Select"/>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Asset)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastServiceDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NextSeviceDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" style="color:red">
                        No Records Found
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>