@model Latest_Staff_Portal.ViewModel.IssuanceVoucherLines

@{
    ViewBag.Title = "NewIssuanceVoucherLine";
}


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("No", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.No, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" } })
            @Html.ValidationMessageFor(model => model.No, "", new { @class = "text-danger" })
        </div>
    </div>
   
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Serial No", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Serial_No, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Serial_No, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Duration Of Use Start Date", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Duration_of_Use_start_date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Duration_of_Use_start_date, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Duration of Use End Date", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Duration_of_Use_end_date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Duration_of_Use_end_date, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Duration of Use", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Duration_of_Use, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Duration_of_Use, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("FA No.", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.FA_No, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FA_No, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Reason For Movement", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Reason_For_Movement, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Reason_For_Movement, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Return Reason", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Return_Reason, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Return_Reason, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Return Condition", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Return_Condition, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Return_Condition, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
