@model Latest_Staff_Portal.ViewModel.IndividualScoreCard

    <div class="row">


    
        <div class="col-md-12">
            <div class="form-group">
                @Html.Label("Select Your Unit PMMU", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.DropDownListFor(m => m.Strategy_Plan_ID, new SelectList(Model.ListOfPMMU, "Value", "Text", Model.Strategy_Plan_ID), "--Select PMMU--", new { @id = "ddlPMMU", @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.Strategy_Plan_ID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("From Date", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    <input type="text" class="form-control" id="startDate" onkeydown="return false;" autocomplete="off" readonly style="background-color:#dedebd;" />
                    <div class='a'></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("To Date", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    <input type="text" class="form-control" id="endDate" onkeydown="return false;" autocomplete="off" readonly style="background-color:#dedebd;" />
                    <div class='a'></div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div align="center">
        <input type="button" class="btn btn-primary waves-effect waves-light" value="Create PAS document" onclick="SubmitPMMUInitiative();" />
    </div>

    <script src="~/assets/js/ShowProgression.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ddlPMMU').on('change', function () {
                var selectedValue = $(this).val();
                ShowProgress();
                $.ajax({
                    async: true,
                    type: "POST",
                    datatype: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ strategyPlanId: selectedValue }),
                    processData: false,
                    url: '/Pas/GetDate',
                    success: function (data) {
                        HideProgress();

                        $("#startDate").val(data.Value);
                        $("#endDate").val(data.Text);
                    },
                    error: function (err) {
                        HideProgress();
                        Swal.fire('Warning', err);
                    }
                });
            });


        });

        var ViewDoc = function (DocNo) {
            ShowProgress();
            var form = $('<form>', {
                action: '/Pas/ViewIndividualScorecard',
                method: 'POST'
            }).append($('<input>', {
                type: 'hidden',
                name: 'DocNo',
                value: DocNo
            }));
            form.appendTo('body').submit();
        };

        var SubmitPMMUInitiative = function () {
            var Department = $('#ddlDim2').val();
            var Functional_Template_ID = $('#ddlPMMU').val();
            var PopulateActivitiesFrom = 1;

            if (!PopulateActivitiesFrom) {
                Swal.fire('Blank input!', 'Please select Populate Activities From value.', 'warning');
                return;
            }

            if (!Functional_Template_ID) {
                Swal.fire('Warning', 'Please select a PMMU.', 'warning');
                return;
            }

            

            var data = {
                Responsibility_Center: Department,
                Functional_Template_ID: Functional_Template_ID,
                Populate_Activities_From: PopulateActivitiesFrom
            };
            ShowProgress();
            $.ajax({
                type: "POST",
                url: "/Pas/SubmitIndividualScorecard",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    HideProgress();
                    if (response.success) {
                        Swal.fire('Success', response.successMessage, 'success').then(function () {
                            ViewDoc(response.message);
                        });
                    } else {
                        Swal.fire('Error', response.message, 'error');
                    }
                },
                error: function (xhr, status, error) {
                    Swal.fire('Error', 'Failed to submit data. Please try again.', 'error');
                }
            });

        }


    </script>
