@model Latest_Staff_Portal.ViewModel.PurchaseDocument
<div class="row">
    <div class="col-md-6">
        <b>Document No</b>
        @Html.TextBoxFor(m => m.DocHeader.No, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="col-md-6">
        <b>Date Requested</b>
        @Html.TextBoxFor(m => m.DocHeader.Date, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <b>Expected Closing Date</b>
        @Html.TextBoxFor(m => m.DocHeader.ExpectedClosingDate, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="col-md-6">
        <b>Expected Opening Date</b>
        @Html.TextBoxFor(m => m.DocHeader.ExpectedOpeningDate, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <b>Internal Requisition No</b>
        @Html.TextBoxFor(m => m.DocHeader.PurchaseRFQNo, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <b>Donor Name</b>
        @Html.TextBoxFor(m => m.DocHeader.Dim1Name, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="col-md-6">
        <b>Project Name</b>
        @Html.TextBoxFor(m => m.DocHeader.Dim2Name, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <b>Program Area Name</b>
        @Html.TextBoxFor(m => m.DocHeader.Dim3Name, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="col-md-6">
        <b>Activity/ Beneficiary Name</b>
        @Html.TextBoxFor(m => m.DocHeader.Dim4Name, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <b>County Name</b>
        @Html.TextBoxFor(m => m.DocHeader.Dim5Name, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="col-md-6">
        <b> Sub Program Name</b>
        @Html.TextBoxFor(m => m.DocHeader.Dim6Name, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <b>Responsibility Center</b>
        @Html.TextBoxFor(m => m.DocHeader.RespC, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="col-md-6">
        <b>User ID</b>
        @Html.TextBoxFor(m => m.DocHeader.RequestorName, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <b>Purpose</b>
        @Html.TextAreaFor(m => m.DocHeader.Remarks, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<hr/>
<hr style="border:1px solid black"/>
<b>RFQ Lines</b>
<hr/>
<div class="pre-scrollable">
    <table class="table table-hover" id="PurchaseRequisitionLine">
        <thead>
        <tr>
            <th>Type</th>
            <th>Expense Code</th>
            <th>No</th>
            <th>Description</th>
            <th>Specifications</th>
            <th>Location</th>
            <th>Unit Measure</th>
            <th class="text-center">Quantity</th>
            <th class="text-left">Unit Amount</th>
            <th class="text-left">Amount</th>
        </tr>
        </thead>
        <tbody>
        @{
            if (Model.ListOfPurchaseLines != null && Model.ListOfPurchaseLines.Count() > 0)
            {
                foreach (var item in Model.ListOfPurchaseLines)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LineType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpenseCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemDesc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitM)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Qnty)
                        </td>
                        <td class="text-left">
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td class="text-left">
                            @Html.DisplayFor(modelItem => item.LineAmount)
                        </td>
                    </tr>
                }
            }
        }
        </tbody>
    </table>
</div>