@model IEnumerable<Latest_Staff_Portal.ViewModel.EmployeeExitVoucher>

@{
    ViewBag.Title = "EmployeeExitVoucherListPartialView";
}

<div class="table-responsive">
    <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead style="background-color:black;color:white">
            <tr>
                <th>Action</th>
                <th>Document No</th>
                <th>Description</th>
                @* <th>Description</th>*@
                @*<th>Employee No</th>*@
                <th>Employee Names</th>
                <th>Exit Method</th>
                @*  <th>Job ID</th>*@
                <th>Reasons Code</th>

            </tr>

        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="button" onclick="ViewDoc('@item.DocumentNo');" class="btn btn-primary btn-sm action-buttons3" value="Select" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    @* <td>
                            @Html.DisplayFor(modelItem => item.EmployeeNo)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeNames)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExitMethod)
                    </td>
                    @* <td>
                            @Html.DisplayFor(modelItem => item.JobId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ReasonsCode)
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $("#datatable-buttons").DataTable({
        lengthChange: true,
        lengthMenu: [5, 10, 25, 50, 100] // Same options for the second table
    });
</script>