@model Latest_Staff_Portal.ViewModel.BehaviorSections
@{
    decimal CoreVScore = 0, PercScore = 0;
    var count = 0;
}
<style>
    .BtnPadding {
        padding: 1px;
        font-size: 12px;
    }
</style>
<div class="pre-scrollable">
    <table id="tableScoreCard" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead>
        <tr>
            <th>Description</th>
            <th>Self Score</th>
            <th>Supervisor Score</th>
            <th>Agreed Score</th>
            <th width="5%" style="text-align:right">Action</th>
        </tr>
        </thead>
        <tbody>
        @{
            if (Model.ValList != null)
            {
                {
                    if (Model.ValList.Count() > 0)
                    {
                        foreach (var item in Model.ValList)
                        {
                            <tr>
                                <td>
                                    <span style="font-weight:bold">
                                        @Html.DisplayFor(modelItem => item.Code) :
                                    </span>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Score)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sup_Score)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Agreed_Score)
                                </td>
                                <td style="text-align:right">
                                    <a href="javascript:void(0);" class="text-success" onclick="EvalCompValueItem('@item.ANUPEAisal_No', '@item.Code', '@item.Line_No', '2');">Evaluate</a>
                                </td>
                            </tr>
                            CoreVScore = CoreVScore + Convert.ToDecimal(item.Agreed_Score);
                            count = count + 1;
                        }

                        CoreVScore = Math.Round(CoreVScore / (count * 5) * 5, 2);
                        PercScore = Math.Round(CoreVScore / 5 * 100, 2);
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" style="color:red">
                                No Records Found
                            </td>
                        </tr>
                    }
                }
            }
        }
        </tbody>
    </table>
</div>
<hr/>
<div align="right">
    <button class="btn btn-success waves-effect waves-light BtnPadding" onclick="UploadStaffCompetenceValues();">Load Competence Values</button>
</div>
<div class="bg-soft-secondary" style="border-top:2px solid black">
    <b>Core Value Score :</b> <span class="badge badge-info">@CoreVScore</span>
    | <b>Core Value Percentage :</b> <span class="badge badge-info">@PercScore</span>
</div>